body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#icon {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 120px;
}



#sidebar {
    width: 180px;
    flex-shrink: 0;
    /* Prevents the sidebar from being shrunk */
    background-color: #f4f4f4;
    padding: 15px;
    overflow-y: auto;
}

#sidebar h2 {
    margin-top: 0;
}

#sidebar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: grab;
    margin-bottom: 10px;
}

#main-content {
    flex-grow: 1;
    padding: 20px;
    min-width: 0;
    /* Prevents table from expanding flex container */
    overflow-x: auto;
    /* Allows table to scroll if it overflows */
}

h1 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.cell-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td input {
    width: 100%;
    box-sizing: border-box;
}

td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.brush-active {
    background-color: #f0ad4e;
    color: white;
    border-color: #eea236;
}

.painted-top {
    border-top: 3px solid orange !important;
}

.painted-right {
    border-right: 3px solid orange !important;
}

.painted-bottom {
    border-bottom: 3px solid orange !important;
}

.painted-left {
    border-left: 3px solid orange !important;
}

.export-hidden {
    display: none !important;
}